/tmp_lib.a
board_cfg.h
/include/chip/*
.config
.config.old
*.o
*.hex
*.elf
/*.a
/linker.ld
tags
*.out
*.swp
Make.defs
tests/my_output
tests/original_output
tests/original_test
tests/string_test
tags
*.bin
build/build.bin
