[submodule "s_alloc"]
	path = s_alloc
	url = https://github.com/SebiEne/s_alloc.git
[submodule "fatfs"]
	path = fatfs
	url = https://github.com/sebastianene07/fatfs.git
[submodule "lib/CMSIS"]
	path = lib/CMSIS
	url = https://github.com/ARM-software/CMSIS.git
