/tmp_lib.a
board_cfg.h
/include/chip/*
/include/Kconfig
/build/*
*.swo
.config
.config.old
*.o
build.hex
*.elf
/*.a
/linker.ld
tags
*.out
*.swp
/Make.defs
tests/my_output
tests/original_output
tests/original_test
tests/string_test
tags
*.bin
*.pyc
build/build.bin
*.a
