[submodule "s_alloc"]
	path = s_alloc
	url = https://github.com/SebiEne/s_alloc.git
[submodule "fatfs"]
	path = fatfs
	url = https://github.com/sebastianene07/fatfs.git
[submodule "arch/arm/rpipico/pico-sdk"]
	path = arch/arm/rpipico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
