MACHINE_TYPE=nrf52840
CFLAGS= -mcpu=cortex-m4 -mthumb -mabi=aapcs -O -ggdb -std=gnu99
LDFLAGS= ${CFLAGS} -nostartfiles -nodefaultlibs -Wl,-T${TOPDIR}/linker.ld
CONFIG_CONSOLE_APP=y
CONFIG_POWERON_MESSAGE="\r\nWelcome to Calylsp OS v0.0.1\r\n"
CONFIG_CONSOLE_PROMPT_STR="root:#/>"
CONFIG_CONSOLE_ECHO_ON=y
CONFIG_CONSOLE_DATE_ON=y
CONFIG_CONSOLE_TEST_DISPLAY=y
CONFIG_CONSOLE_UART_PATH="/dev/ttyUSB0"
CONFIG_RTC_PATH="/dev/rtc0"
CONFIG_SPI_0_MISO_PIN=(30)
CONFIG_SPI_0_MISO_PORT=(0)
CONFIG_SPI_0_MOSI_PIN=(29)
CONFIG_SPI_0_MOSI_PORT=(0)
CONFIG_SPI_0_SCK_PIN=(26)
CONFIG_SPI_0_SCK_PORT=(0)
CONFIG_SPI_0_CS_PIN=(31)
CONFIG_SPI_0_CS_PORT=(0)
CONFIG_SPI_BUFFER_LEN=(12)
CONFIG_DISPLAY_SSD1331=y
CONFIG_DISPLAY_DC_PIN=(3)
CONFIG_DISPLAY_DC_PORT=(0)
CONFIG_SERIAL_CONSOLE_TX=(6)
CONFIG_SERIAL_CONSOLE_RX=(8)
CONFIG_WFI_ENABLE=y
CONFIG_CONSOLE_FREE=y
CONFIG_FATFS_SUPPORT=y
CONFIG_CONSOLE_LS=y
