MACHINE_TYPE=nrf52840
CFLAGS= -mcpu=cortex-m4 -mthumb -mabi=aapcs -O -ggdb
LDFLAGS= ${CFLAGS} -nostartfiles -nodefaultlibs -Wl,-T${TOPDIR}/linker.ld
CONFIG_CONSOLE_APP=y
CONFIG_POWERON_MESSAGE="\r\nWelcome to CatOS v0.0.1\r\n"
CONFIG_CONSOLE_PROMPT_STR="root:#/>"
CONFIG_CONSOLE_ECHO_ON=y
CONFIG_CONSOLE_DATE_ON=y
CONFIG_CONSOLE_UART_PATH="/dev/ttyUSB0"
CONFIG_RTC_PATH="/dev/rtc0"
CONFIG_SPI_0_MISO_PIN=(0)
CONFIG_SPI_0_MISO_PORT=(0)
CONFIG_SPI_0_MOSI_PIN=(1)
CONFIG_SPI_0_MOSI_PORT=(0)
CONFIG_SPI_0_SCK_PIN=(2)
CONFIG_SPI_0_SCK_PORT=(0)
CONFIG_SPI_0_CS_PIN=(3)
CONFIG_SPI_0_CS_PORT=(0)
CONFIG_SPI_BUFFER_LEN=(12)
