config WFI_ENABLE
  bool "Enable wait for interrupt mode"
  default n
  ---help---
  Allow the CPU to enter wait for interrupt state to sleep.

config SYSTEM_CLOCK_FREQUENCY
  int "Clock tick frequency in MhZ"
  default 200
  ---help---
    The system core clock frequency in MhZ.
