config SYSTEM_CLOCK_FREQUENCY
  int "Clock tick frequency in MhZ"
  default 200
  ---help---
    The system core clock frequency in MhZ.

config SYSTEM_SCHEDULER_SLICE_FREQUENCY
  int "The pre-emption interrupt frequency in Hz"
  default 2000

config SCHEDULER_IDLE_TASK_STACK_SIZE
  int "The stack size for idle task"
  default 1024

config BOARD_SLEEP
bool "Support for the board sleep"
  default n
  ---help---
  This should be enabled if the board supports sleep functionality.
